{% extends 'base.html.twig' %}

{% block title %}Edit Proposal{% endblock %}

{% block body %}
    <h1>Edit Proposal</h1>

    {{ include('proposal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('proposal_index') }}">back to list</a>

    {{ include('proposal/_delete_form.html.twig') }}
{% endblock %}
